

<!-- Javascript goes in the document HEAD -->
<script type="text/javascript">
function altRows(id){
  if(document.getElementsByTagName){

    var table = document.getElementById(id);
    var rows = table.getElementsByTagName("tr");

    for(i = 0; i < rows.length; i++){
      if(i % 2 == 0){
        rows[i].className = "evenrowcolor";
      }else{
        rows[i].className = "oddrowcolor";
      }
    }
  }
}
window.onload=function(){
  altRows('alternatecolor');
}
</script>

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<div class="content-wrapper">
  <div class="content-main">
      <div class="job-tbl-head">
          <div class="job-tbl-head-txt">
              Current Openings
            </div>
                <a href = '#'><div class="job-tbl-head-btn2">Training</div></a>
              <a href='#'> <div class="job-tbl-head-btn1">Future Jobs</div></a>
         </div>
        
  <div class="job-tbl">
          <table width="100%" border="0" id="alternatecolor" cellspacing="0" cellpadding="0" style="margin-bottom:100px;">
  <tr>
    <th width="17%" align="left">Job Title</th>
    <th width="44%" align="left">Description</th>
    <th width="15%" align="left"> name</th>
    <th width="13%" align="left"> email</th>
    <th width="11%" align="center">Applied on</th>
  <% @jobs.each do |j| %>
    <%@u = Userjob.where(jobregistration_id: j.id)%>
    <% @u.each do |u| %>
        <% @p = User.where(id: u.user_id)%> 
       
    
  <tr>
         
    <td class="jobs"><%= j.title%></td>
    <td> <%= j.desc %></td>
    <td class="company"><%= @p[0].name %></td>
    <td class="expiry"><%= @p[0].email%></td>
     <td class="expiry"><%=u.created_at%></td>
    <td align="center" valign="middle">
      
  </tr>
  <% end %>
  <%end%>
   
       
 
  
        
      </div>
  </div>
</div>

